.user-table-container {
    margin: 15px 30px;
}
.user-table table {
    margin-top: 60px;
}

div.search-container, table.user-table {
    padding-left: 0;
}

.action-button {
    width: 100%;
    margin: 10px 0 10px 0;
}

.edit-form input {
    margin-top: 10px;
}