<tr ng-if="!vm.isActive">
    <td>{{ vm.userCopy.name }}</td>
    <td>{{ vm.userCopy.lastName }}</td>
    <td>{{ vm.userCopy.birthDate }}</td>
    <td>{{ vm.userCopy.personalIN }}</td>
    <td>{{ vm.userCopy.city }}</td>
    <td>{{ vm.userCopy.phone }}</td>
    <td>{{ vm.userCopy.email }}</td>
    <td>
        <button class="btn btn-default" ng-click="vm.setActive(true)">Edit</button>
    </td>
</tr>
<tr ng-if="vm.isActive">
    <td>{{ vm.userCopy.name }}</td>
    <td>{{ vm.userCopy.name }}</td>
    <td>{{ vm.userCopy.name }}</td>
    <td>{{ vm.userCopy.name }}</td>
    <td>{{ vm.userCopy.name }}</td>
    <td>{{ vm.userCopy.name }}</td>
    <td>
        <button class="btn btn-default" ng-click="vm.apply()">Apply</button>
        <button class="btn btn-default" ng-click="vm.cancel()">Cancel</button>
    </td>
</tr>