<tr>
    <td ng-repeat="property in ::vm.propertyList track by $index">
        <span>
            {{ vm.userCopy[property] }}
        </span>
        <span ng-show="vm.isActive">
            <input type="text" ng-model="vm.userCopy[property]">
        </span>
    </td>
    <td ng-if="!vm.isActive">
        <button class="btn btn-default" ng-click="vm.openEdit()">Edytuj</button>
    </td>
    <td ng-if="vm.isActive">
        <button class="btn btn-default" ng-click="vm.remove()">Usuń użytkownika</button>
        <button class="btn btn-default" ng-click="vm.closeEdit()">Zamknij</button>
    </td>
</tr>